body {
    font-family: Arial, sans-serif;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #d17700;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

/* Шапка меню */
nav {
    width: 100%;
    height: 60px;
    background: #4E5452;
    position: fixed;
}

.logo {
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    padding-left: 225px;
    float: left;
    -webkit-animation: coming 2s ease;
    -o-animation: coming 2s ease;
    animation: coming 2s ease;
}

.menu {
    float: left;
    padding-left: 400px;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 25px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li:nth-child(1) {
    animation-delay: 0.4s;
}

.menu li:nth-child(2) {
    animation-delay: 0.6s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1s;
}

.menu li:nth-child(5) {
    animation-delay: 1.2s;
}

.menu li:nth-child(6) {
    animation-delay: 1.4s;
}

.menu li a {
    transition: all 0.1s;
    color: white;
    display: inline-block;
    transform: scale(1);
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: orange;
}

.menu li a:active {
    transform: scale(1.1);
}

@keyframes coming {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

 /* Главный экран */
main {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/girl.png) 90% 100%/auto 90% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title_container{
    float: left;
    margin: 320px 0px 0px 300px;
    color: #092f4e;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 0.8s ease forwards;
    -o-animation: titlemove 0.8s ease forwards;
    animation: titlemove 0.8s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: 500px;
    }
    to {
        opacity: 1;
        margin-left: 300px;
    }
}

.title_container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title_container h4 {
    margin-top: 25px;
    font-size: 20px;
    color: #46535e;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #4E5452;
    background: none;
    border-radius: 5px;
    color: #4E5452;
    font-size: 13px;
    padding: 0px 16px 0px 16px;
    margin: 25px 14px 14px;
    transition: all 0.2s;
    transform: scale(1)
}

.title_container input:hover {
    background: #4E5452;
    color: white;
}

.title_container input:active {
    transform: scale(1.1);
}

/* Обо мне */
.about_me {
    width: 100%;
    height: auto;
    background: #fff;
    text-align: center;
}

.about_me h2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #263244;
    padding-top: 105px;
}

.about_me .line {
    border-bottom: 5px #d17700 solid;
    margin: auto;
    width: 60px;
    padding: 15px;
}

.about_me img {
    margin: 50px;
    border: 1px solid gainsboro;
    border-radius: 50%;
    background-color: gainsboro;
}

.about_me p {
    margin-top: 15px;
    font-size: 16px
}

.about_me input {
    height: 40px;
    text-align: center;
    border: 2px solid #4E5452;
    background: none;
    border-radius: 5px;
    color: #4E5452;
    font-size: 13px;
    padding: 0px 16px 0px 16px;
    margin: 25px 14px 14px;
    margin-bottom: 95px;
    transform: scale(1);
}

.about_me input:hover {
    background: #4E5452;
    color: white;
}

.about_me input:active {
    transform: scale(1.1);
}


/* Что я умею */
.my_skills {
    width: 100%;
    height: auto;
    background: url(../img/bg2.jpg) center/cover no-repeat;
    text-align: center;
}

.my_skills h2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #263244;
    padding-top: 105px
}
    
.my_skills .line {
    border-bottom: 5px #d17700 solid;
    margin: auto;
    width: 60px;
    padding: 15px;
}

.my_skills .description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 100px;
    opacity: 0;
    -wemkit-animation: coming_description 1.5s ease forwards;
    -o-animation: coming_description 1.5s ease forwards;
    animation: coming_description 1.5s ease forwards;
    -wemkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes coming_description {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.my_skills h4 {
    font-size: 16px;
    color: #d17700;
    font-weight: bold;
    margin-top: 25px;
}

.my_skills p {
    font-size: 14px;
    color: #616976;
    margin-top: 15px;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 150px;
}


/* Кейсы */
.cases {
    width: 100%;
    height: auto;
    background-color: #fff;
    text-align: center;
}

.cases h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #263244;
    padding-top: 105px
}

.cases .line {
    border-bottom: 5px #d17700 solid;
    margin: auto;
    width: 60px;
    padding: 15px;
}

.cases .gallery p {
    font-size: 14px;
    color: #616976;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cases .about_project {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cases h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
}

.link_project {
    text-align: left;
    margin-left: 200px;
    margin-bottom: 100px;
}

.link_project h4 {
    margin-bottom: 15px;
}

.link_project p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #616976;
}

.link_project input {
    border: 1px solid #63b5ae;
    border-radius: 5px;
    background-color: #63b5ae;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    transform: scale(1);
}

.link_project input:hover {
    background: orange;
    color: white;
    border: none;
    transform: scale(1.1);
}

.description_project {
    text-align: left;
    margin-right: 200px;
    margin-bottom: 100px;
}

.description_project h4 {
    margin-bottom: 15px;
}

.description_project p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #616976;
}


/* Рассчёт стоимости */
.cost {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
}

.cost h2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #263244;
    padding-top: 105px
}

.cost .line {
    border-bottom: 5px #d17700 solid;
    margin: auto;
    width: 60px;
    padding: 15px;
}


.cost form {
    width: 800px;
    height: 600px;
    border: 1px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 0 15px #5b5b5b;
    margin: 40px auto;
}

.cost form h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 30px;
    text-align: left;
}

.cost form select {
    width: 740px;
    height: 40px;
    border: 1px solid #eee;
    background-color: #eee;
    font-size: 13px;
    text-indent: 12px;
    color: #5b5b5b;  
}

.cost form .calculation {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #eee;
    font-weight: 500;
    font-size: 16px;
}

.time {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sum {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.znachenie {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.kolichestvo {
    text-align: end;
    font-weight: 700;
    font-size: 20px;
    padding-right: 30px;
    margin-bottom: 20px;
}

/* Немного статистики */
.stat {
    width: 100%;
    height: 100%;
    background: url(../img/bg3.png) center/cover no-repeat;
    text-align: center;
}

.parallax {
    background-image: url("../img/bg3.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stat h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #263244;
    padding-top: 105px;
}

.stat .line {
    border-bottom: 5px #d17700 solid;
    margin: auto;
    width: 60px;
    padding: 15px;
}

.stat .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 150px;
}

.stat .list .number {
    font-size: 30px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #323e4f;
}

.stat .list p {
    font-size: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #323e4f;
    margin-bottom: auto;
}

/* Отзывы */
.feedback {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
}

.feedback h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #263244;
    padding-top: 105px
}

.feedback .line {
    border-bottom: 5px #d17700 solid;
    margin: auto;
    width: 60px;
    padding: 15px;
}

.feedback .ava {
    margin: auto;
}

.feedblock {
    font-size: 15px;
    color: #263244;
}


.feedback .comment {
    margin-left: 400px;
    margin-right: 400px;
}

.feedback .author {;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 40px;
}

.feedback .dotes {
    margin-top: 100px;
    grid: 1fr 1fr 1fr;
    grid-template-areas: 30px
}

.dotes img {
    padding: 5px;
}

/* Контакты */
.contacts {
    width: 100%;
    height: 100%;
    background: url(../img/bg4.png) center/cover no-repeat;;
    text-align: center;
}

.contacts h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding-top: 105px;
}

.contacts .line {
    border-bottom: 5px #d17700 solid;
    margin: auto;
    width: 60px;
    padding: 15px;
}

.contacts p {
    font-size: 15px;
    color: #fff;
    margin-top: 40px;
}

.contacts .connection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #fff;
    margin:auto;
    padding-left: 400px;
    padding-right: 400px;
    font-size: 15px;
}

.contacts h3 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
}

.contacts form {
    margin-top: 35px; 
}

.contacts form input{
    width: 330px;
    height: 30px;
    border: 1px solid #d2d6dc;
    background-color: #d2d6dc;
    font-size: 13px;
    text-indent: 12px;
    color: #5b5b5b;
    margin-left: 10px;
    margin-right: 10px;
}

.contacts form .message {
    width: 685px;
    height: 80px;
    resize: none; 
    margin: 15px 0;
    padding: 5px 3px 3px 4px;
    background-color: #d2d6dc
}

.contacts form .send {
    width: 120px;
    height: 40px;
    border: 3px solid #fff;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 6px 10px;
    margin-top: 5px;
    transform: scale(1);
}

.contacts form .send:hover {
    background: white;
    color: #616976;
    transform: scale(1.1);
}
    
/* Подвал */
footer {
    width: 100%;
    height: 60px;
    background: #4E5452;
}

footer p {
    color: #fff;
    font-size: 15px;
    line-height: 60px;
    text-align: center;
}